<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ "assets/tufte.css" | relative_url }}" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="profile" />
</head>
<body>
<article>
    <h1>{{ page.title }}</h1>

    <section>
    {{ content }}
    </section>
</article>

<script type="application/javascript">
    const makeEmailReadable = () => {
        const emailValue = atob('cGF2ZS5rdWNlcmFAZ21haWwuY29t')
        const emailElement = document.getElementById('email')

        emailElement.setAttribute('href', 'mailto:' + emailValue)
        emailElement.textContent = emailValue
    }

    if (document.readyState !== 'loading') {
        makeEmailReadable()
    } else {
        document.addEventListener('DOMContentLoaded', makeEmailReadable)
    }
</script>
</body>
</html>
