<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}

    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="profile" />
</head>
<body>
<article>
    <h1>{{ page.title }}</h1>

    <section>
    {{ content }}
    </section>

    <section>
        <h2>Content</h2>

        <ul>
            {% for post in site.posts %}
            <li>
                {{ post.date | date: "%Y-%m-%d" }}
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>

<script type="application/javascript">
    const makeEmailReadable = () => {
        const emailValueBase64 = 'cGF2ZWwua3VjZXJhQGhleS5jb20='
        const emailValue = atob(emailValueBase64)
        const emailElement = document.getElementById('email')

        emailElement.setAttribute('href', 'mailto:' + emailValue)
        emailElement.textContent = emailValue
    }

    if (document.readyState !== 'loading') {
        makeEmailReadable()
    } else {
        document.addEventListener('DOMContentLoaded', makeEmailReadable)
    }
</script>
</body>
</html>
